html {
    background-color: var(--bg);
    color: var(--primary);
}

.container {
    width: 100%;
    margin: 0 auto;

    display: grid;
    grid-template-columns: auto;
    grid-gap: 15px;
}

@media only screen and (min-width: 768px) {
    .container {
        grid-gap: 20px;
    }
}

@media only screen and (min-width: 1024px) {
    .container {
        max-width: 1024px;
        grid-template-columns: 229px auto;
    }
}

@media only screen and (min-width: 1440px) {
    .container {
        max-width: 1440px;
        grid-template-columns: 230px auto;
    }
}

    nav {    
        width: calc(100% - 30px);
        height: auto;
        padding: 15px 15px 0 15px;
        background-color: var(--bg);
        z-index: 999;
        display: grid;
        grid-template-columns: 40px 40px auto 90px;
        grid-template-rows: 40px 40px;
        grid-gap: 15px;
        position: absolute;


        &.scroll {
            position: fixed;
            top: 0;
            padding: 10px 15px 10px 15px;
            grid-template-rows: 40px;
            box-shadow: 0px 8px 20px rgba(10, 16, 34, 0.19);
        }

        div {
            border-radius: 8px;
            background-color: var(--white);
        }
    
        .account {
            display: block;
            width: 40px;
            height: 40px;           
            
            grid-column: 1/2;
            grid-row: 1/2;
            box-shadow: none;
            transition: box-shadow 100ms ease-out;

            &:hover {
                box-shadow: 0px 2px 2px rgba(10, 16, 34, 0.29);
            }

            a {
                display: block;
                padding: 12px 13px 12px 13px;

                p {
                    display: none;
                }
            }
        }

        .cart {
            width: 40px;
            height: 40px;
            
            grid-column: 2/3;
            grid-row: 1/2;
            position: relative;

            box-shadow: none;
            transition: box-shadow 100ms ease-out;

            &:hover {
                box-shadow: 0px 2px 2px rgba(10, 16, 34, 0.29);
            }

            a {
                display: block;
                padding: 12px;

                p {
                    display: none;
                }
            }

            .cart_qty {
                position: absolute;
                display: block;
                min-width: 10px;
                height: 18px;
                color: var(--white);
                background-color: var(--orange);
                font-weight: 500;
                font-size: 16px;
                line-height: 18px;                
                padding: 4px 7px 3px 7px;
                top: -5px;
                left: calc(100% - 10px);
                text-align: center;
                border-radius: 4px;
                box-shadow: 0px 2px 2px rgba(10, 16, 34, 0.29);
            }
        }

        .logo {
            display: none;
        }

        .logo_min{
            background: url(../Assets/Logo.svg) no-repeat center center;
            background-size: contain;
            width: auto;
            height: 30px;
            margin-top: 5px;

            grid-column: 1/5;
            grid-row: 1/2;
        }

        .menu_toggle {
            grid-column: 4/5;
            grid-row: 1/2;
            background-color: var(--primary);
            box-shadow: none;
            transition: box-shadow 100ms ease-out;

            &:hover {
                box-shadow: 0px 2px 2px rgba(10, 16, 34, 0.29);
            }

            a {
                display: block;
                padding: 11px 0 11px 14px;
                
                i {
                    color: #fff;
                    font-weight: 900;
                    font-size: 18px;
                    line-height: 18px;                    
                }

                p {
                    display: inline;
                    margin-left: 6px;
                    color: #fff;
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 14px;
                    text-transform: uppercase;                    
                }
            }
        }

        .searchbar {
            grid-column: 1/5;
            grid-row: 2/3;

            box-shadow: none;
            transition: box-shadow 100ms ease-out;

            &:hover {
                box-shadow: 0px 2px 2px rgba(10, 16, 34, 0.29);
            }

            form {
                width: 100%;
                height: 40px;
            }

            input[type=text] {
                width: calc(100% - 108px - 14px);
                height: 40px;
                border: none;
                border-radius: 8px;
                padding: 0 0 0 14px;
                font-size: 12px;
                text-overflow: ellipsis;
                transition: box-shadow 100ms ease-out; 
                
                &:focus {
                    box-shadow: inset 0px 0px 0px 1px var(--blue);
                }
            }

            button {
                float: right;
                width: 106px;
                height: 38px;
                border: none;
                border-radius: 7px;
                margin: 1px 1px;
                padding: 0;
                cursor: pointer;
                text-align: left;
                background-color: var(--light-gray);
                transition: background-color 100ms ease-out;

                &:hover {
                    background-color: var(--dark-gray);
                }

                i {
                    font-size: 16px;
                    line-height: 16px;
                    margin: 11px 6px 11px 14px;                    
                }

                p {
                    display: inline;
                    font-size: 12px;
                    line-height: 14px;                    
                }

            }
        }

        &.scroll {
            .searchbar {
                display: none;
            }
        }

    }

    @media only screen and (min-width: 768px) {
        nav {
            width: calc(100% - 50px);
            padding: 20px 25px 0 25px;
            grid-template-columns: 99px 116px auto 90px;
            grid-gap: 20px;

            &.scroll {
                padding: 15px 25px 15px 25px;
            }
            
            .account {
                width: 100%;
                min-width: 99px;

                a {
                    p {
                        display: inline-block;
                        font-weight: normal;
                        font-size: 12px;
                        line-height: 14px;
                        margin: 1px 0 0 10px;     
                        text-overflow: ellipsis;                   
                    }
                }
            }
    
            .cart {
                width: 100%;
                min-width: 116px;

                a {
                    p {
                        display: inline-block;
                        font-weight: normal;
                        font-size: 12px;
                        line-height: 14px;
                        margin: 1px 0 0 10px;     
                        text-overflow: ellipsis;                   
                    }
                }
            }
    
            .logo {
                display: block;
                background: url(../Assets/Logo_full.svg) no-repeat center center;
                background-size: contain;
                width: auto;
                height: 30px;
                margin-top: 5px;

                grid-column: 1/5;
                grid-row: 1/2;
                border-radius: 0;
            }
    
            .logo_min{
                display: none;
            }
        }
    }

    @media only screen and (min-width: 1024px) {
        nav {
            width: calc(100% - 30px);
            padding: 30px 30px 0 0;
            grid-template-columns: auto 99px 116px;
            grid-template-rows: 40px;
            grid-column: 2/3;
            grid-row: 1/2;
            position: static;

            &.scroll {
                position: static;
                top: auto;
                padding: 30px 30px 0 0;
                box-shadow: none;
            }

            .account {
                grid-column: 2/3;              
            }
    
            .cart {
                grid-column: 3/4;             
            }
    
            .logo {
                display: none;
            }

            .menu_toggle {
                display: none;
            }
    
            .searchbar {
                grid-column: 1/2;
                grid-row: 1/2;
            } 
            
            &.scroll {
                .searchbar {
                    display: block;
                }
            }
        }
    }

    @media only screen and (min-width: 1440px) {
        nav {
            grid-template-columns: auto 111px 143px;

            .cart {
                .cart_qty {
                    top: 8px;
                    left: auto;
                    right: 10px;
                    box-shadow: none;
                }
            }
        }
    }

    .menu {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        max-height: 100vh;
        background-color: var(--bg);
        z-index: 1000;
        padding: 15px 15px 0 15px;

        display: none;
        grid-template-columns: 40px 40px auto 90px;
        grid-template-rows: 40px auto;
        grid-gap: 15px;

        .logo_min_menu {
            background: url(../Assets/Logo.svg) no-repeat center center;
            background-size: contain;
            width: auto;
            height: 30px;
            margin-top: 5px;

            grid-column: 1/5;
            grid-row: 1/2;
        }

        .menu_toggle_close {
            border-radius: 8px;
            background-color: var(--primary);
            grid-column: 4/5;
            grid-row: 1/2;
            box-shadow: none;
            transition: box-shadow 100ms ease-out;

            &:hover {
                box-shadow: 0px 2px 2px rgba(10, 16, 34, 0.29);
            }

            a {
                display: block;
                padding: 11px 0 11px 14px;
                
                i {
                    display: inline-block;
                    width: 15.75px;
                    color: #fff;
                    font-weight: 900;
                    font-size: 18px;
                    line-height: 18px;    
                    text-align: center;                
                }

                p {
                    display: inline;
                    margin-left: 6px;
                    color: #fff;
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 14px;
                    text-transform: uppercase;                    
                }
            }
        }

        .menu_categories {
            grid-column: 1/3;
            white-space: nowrap;
            overflow: auto;           
            
            .menu_category {
                width: 100%;
                height: 95px;
                background-color: var(--white);
                border-radius: 8px;
                margin-bottom: 15px;

                a.category {
                    text-align: center;
                    width: 100%;
                    height: 100%;
                    display: block;
                    border-radius: 8px;
                    
                    i {
                        display: inline-block;
                        font-weight: 900;
                        font-size: 24px;
                        line-height: 24px;
                        margin: 22px 0 9px;
                        color: var(--gray); 
                        transition: transform 100ms ease-out;                       
                    }

                    p {
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 19px;
                        color: var(--gray);
                    }

                    &:hover {
                        box-shadow: 0px 2px 2px rgba(10, 16, 34, 0.29);
                        background-color: var(--light-gray);
                    }

                    &:hover > i {
                        transform: scale(1.2,1.2);
                        color: var(--black);                        
                    }

                    &:hover > p {
                        color: var(--black);
                    }
                }

                .menu_subs {
                    position: fixed;
                    left: 125px;
                    top: 70px;
                    width: calc(100vw - 140px);
                    height: calc(100vh - 70px);
                    white-space: nowrap;
                    overflow: auto;
        
                    .menu_sub {
                        width: calc(100% - 40px);
                        height: auto;
                        background-color: var(--white);
                        border-radius: 8px;
                        margin-bottom: 20px;
                        padding: 0 20px;

                        p {
                            padding: 16px 0 30px;
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 19px;   
                            color: var(--gray);
                            
                            span {
                                display: inline-block;
                                width: calc(100% - 83.2px);
                                border-bottom: 2px solid var(--light-gray);
                                margin-left: 10px;
                                vertical-align: baseline;
                            }
                        }

                        .menu_sub_list {
                            padding: 0 0 30px 0;

                            a.cat {
                                display: block;
                                font-weight: 500;
                                font-size: 18px;
                                line-height: 21px; 
                                color: var(--primary);   
                                margin-bottom: 14px;                           
                            }

                            a.sub {
                                display: block;
                                font-weight: normal;
                                font-size: 18px;
                                line-height: 21px;                                                                
                                color: var(--primary);
                                margin-top: 8px;
                            }
                        }
                    }
                }
            }
        }
        
        &.scroll {
            padding: 10px 15px 0 15px;
            .menu_categories {
                .menu_category {
                    .menu_subs {
                        top: 65px;
                    }
                }
            }   
        }
    }


    .blackout {display: none;}

    @media only screen and (min-width: 768px) {
        .menu {
            left: auto;
            width: calc(490px - 50px);
            padding: 20px 25px 0 25px;
    
            grid-template-columns: 152px auto 90px;
            grid-gap: 20px;
            border-radius: 8px 0 0 8px;
    
            .logo_min_menu {
                background: url(../Assets/Logo_full.svg) no-repeat left center;
                height: 30px;
                margin-top: 5px;
    
                grid-column: 1/4;
            }
    
            .menu_toggle_close {
                grid-column: 3/4;
            }
    
            .menu_categories {
                grid-column: 1/2;
                
                .menu_category {
                    height: 44px;
                    margin-bottom: 20px;

                    a.category {
                        text-align: left;
                        display: grid;
                        grid-template-columns: 40px auto;
                        padding: 0 4px;
                        width: calc(100% - 8px);
                        
                        i {
                            font-size: 18px;
                            line-height: 18px;
                            text-align: center;
                            align-self: center;
                            margin: 0;                     
                        }
    
                        p {
                            align-self: center;
                        }
                    }

                    .menu_subs {
                        left: calc(100vw - 293px);
                        top: 80px;
                        width: 268px;
                        height: calc(100vh - 80px);
            
                        .menu_sub {
                            margin-bottom: 20px;
                        }
                    }
                }
            }

            &.scroll {
                padding: 15px 25px 0 25px;
                .menu_categories {
                    .menu_category {
                        .menu_subs {
                            top: 75px;
                        }
                    }
                }   
            }
        }

        .blackout {
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;                
            right: 0;
            background-color: rgba(55, 63, 69, 0.85);
            z-index: 999;
        }
    }

    @media only screen and (min-width: 1024px) {
        .menu {
            grid-column: 1/2;
            grid-row: 1/3;

            position: sticky;
            width: auto;  
            max-height: 424px;
            background-color: transparent;
            padding: 30px 0 0 30px;
    
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: 40px auto;
            grid-gap: 20px;
            margin-bottom: 60px;

            .logo_min_menu {
                background: url(../Assets/Logo_full.svg) no-repeat left center;
                height: 30px;
                margin-top: 5px;
    
                grid-column: 1/2;
            }

            .menu_toggle_close {
                display: none;
            }
    
            .menu_categories {
                grid-column: 1/2;
                
                .menu_category {
                    height: 44px;
                    margin-bottom: 20px;

                    &:hover > .menu_subs {
                        display: block;
                    }

                    a.category {
                        text-align: left;
                        display: grid;
                        grid-template-columns: 48px auto;
                        padding: 0 6px;
                        width: calc(100% - 12px);
                        
                        i {
                            margin: 0;                     
                        }
    
                        p {
                            font-size: 18px;
                            line-height: 21px;
                        }
                    }

                    .menu_subs {
                        display: none;
                        position: absolute;
                        top: 90px;
                        left: 229px;
                        width: 745px;
                        height: 364px;
                        padding-left: 20px;
                        background-color: transparent;                        
                        border-radius: 0;
                        white-space: normal;
                        overflow: visible;
                        transition: all 100ms ease-out;

                        .menu_sub_wrap {
                            background-color: var(--white);
                            min-height: 364px;
                            box-shadow: 0px 2px 2px rgba(10, 16, 34, 0.29);
                            border-radius: 8px;
                        }
            
                        .menu_sub {
                            width: calc(100% - 40px);
                            display: grid;
                            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
                            margin-bottom: 0;

                            &:nth-child(1) {
                                padding-top: 20px;
                                padding-bottom: 10px;
                            }
                            
                            &:nth-child(2) {
                                padding-bottom: 10px;
                            }

                            p {
                                grid-column: 1/6;
                                padding: 0;
                            }

                            .menu_sub_list {
                                padding: 20px 0 20px 0;

                                a.cat {
                                    font-size: 14px;
                                    line-height: 16px;                                    
                                }

                                a.sub {
                                    font-size: 14px;
                                    line-height: 16px;                                    
                                }
                            }
                        }
                    }
                }
            }
            
            &.scroll {
                padding: 30px 0 0 30px;
                .menu_categories {
                    .menu_category {
                        .menu_subs {
                            top: 90px;
                        }
                    }
                }   
            }
        }
    }

    @media only screen and (min-width: 1440px) {
        .menu { 
            max-height: 460px;
            margin-bottom: 80px;
    
            .menu_categories {
                
                .menu_category {
                    height: 50px;
                    margin-bottom: 20px;

                    a.category {
                        
                        i {
                            font-size: 18px;
                            line-height: 20px;                 
                        }
                    }

                    .menu_subs {
                        left: 230px;
                        width: 1160px;
                        height: 400px;

                        .menu_sub_wrap {
                            background-color: var(--white);
                            min-height: 400px;
                            box-shadow: 0px 2px 2px rgba(10, 16, 34, 0.29);
                        }
            
                        .menu_sub {
                            width: calc(100% - 60px);
                            padding: 0 30px;

                            &:nth-child(1) {
                                padding-top: 30px;
                            }

                            p {
                                font-weight: 500;
                                font-size: 18px;
                                line-height: 21px;
                                
                                span {
                                    width: calc(100% - 102.36px);
                                    margin-left: 20px;

                                }
                            }

                            .menu_sub_list {
                                a.cat {
                                    font-size: 18px;
                                    line-height: 21px;
                                    margin-bottom: 10px;
                                }

                                a.sub {
                                    font-size: 18px;
                                    line-height: 21px;
                                    margin-top: 7px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .ecommerce {
        width: calc(100% - 30px);
        height: auto;
        margin: 125px 15px 0;

        display: grid;
        grid-template-columns: auto;
        grid-gap: 15px;

        .content {
            display: grid;
            grid-template-columns: auto;
            grid-gap: 15px;            

            .banners {
                display: grid;
                grid-template-columns: auto;
                grid-gap: 15px;

                div {
                    border-radius: 8px;
                    background-color: var(--white);
                }

                .banner_main {                                        
                    height: 200px;
                    background: url(/Assets/banner_main.png) bottom center no-repeat;
                    background-size: cover;
                }

                .banner_sub {                                        
                    height: 150px;
                    background: url(/Assets/banner_sub.png) center center no-repeat;
                    background-size: cover;

                    &:nth-child(3) {
                        background: url(/Assets/banner_sub_2.png) center center no-repeat;
                        background-size: cover;
                    }
                }

            }

            .featured {
                display: grid;
                grid-template-columns: auto;
                grid-gap: 15px;
                position: relative;
                 
                .fade {
                    position: absolute;
                    height: 28px;
                    width: 40px;
                    right: 0px;
                    top: 15px;
                    background: linear-gradient(270deg, #F5F5F5 45.59%, rgba(245, 245, 245, 0) 100%);
                }

                .featured_cat {
                    margin: 15px 0 5px 5px; /*5px-2px bottom border*/
                    overflow: auto;
                    white-space: nowrap;
                    position: relative;     
                    
                    

                    a.cat {
                        margin-right: 20px;
                        font-weight: 500;
                        font-size: 24px;
                        line-height: 28px;
                        display: inline-block;

                        &:hover {
                            color:var(--blue);
                            position:relative;

                            &:after {
                                content:'';
                                position:absolute;
                                bottom: 0px;
                                left: 0;
                                right: 0;
                                background: var(--blue);
                                height: 2px;
                                border-radius: 1px;
                            }
                        }
                    }

                    a.sub {
                        padding-top: 7px;
                        margin-right: 15px;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 16px;
                        color: var(--gray);
                        display: inline-block;                        

                        &:hover {
                            color:var(--blue);
                            position:relative;

                            &:after {
                                content:'';
                                position:absolute;
                                bottom: -2px;
                                left: 0;
                                right: 0;
                                background: var(--blue);
                                height: 2px;
                                border-radius: 1px;
                            }
                        }
                    }
                }

                .featured_products {
                    display: grid;
                    grid-template-columns: auto;
                    grid-gap: 20px;

                    .product {
                        display: block;
                        min-height: auto;
                        height: 100%;
                        border-radius: 8px;
                        background-color: var(--white);
                        position: relative;
                        box-shadow: 0px 2px 2px rgba(10, 16, 34, 0.29);
                        transition: all 140ms ease-out;

                        &:hover {
                            box-shadow: 0px 10px 10px rgba(10, 16, 34, 0.29);
                        }

                        .thumb {
                            margin: 20px;
                            width: calc(100% - 40px);
                            padding-top: calc(100% - 40px);
                            position: relative;

                            img {
                                position: absolute;
                                bottom: 0;
                                width: 100%;
                                height: 100%;
                                object-fit: contain;   
                                transition: transform 140ms ease-in-out;                             
                            }                                                        
                        }

                        &:hover > .thumb > img {
                            transform: scale(1.05,1.05);
                        }

                        .info {
                            margin: 0 26px 80px 26px;

                            h3 {
                                font-weight: 500;
                                font-size: 20px;
                                line-height: 23px;
                                color: var(--black);                                
                            }

                            p.colour {
                                margin-top: 15px;
                                font-weight: normal;
                                font-size: 16px;
                                line-height: 18px;
                                color: var(--black);       

                                span {
                                    display: inline-block;
                                    width: 18px;
                                    height: 18px;
                                    background-color: var(--colour-white);
                                    border-radius: 9px;
                                    margin: -2px 13px 0 0;
                                    box-shadow:  0px 0px 0px 1px #D0D0D0;
                                }
                            }

                            p.price {
                                margin-right: 80px;
                                left: 26px;
                                bottom: 26px;
                                position: absolute;
                                font-weight: normal;
                                font-size: 20px;
                                line-height: 23px;
                                color: var(--black);                                
                            }
                        }

                        .new {
                            position: absolute;
                            display: inline-block;
                            right: -2px;
                            bottom: 20px;
                            font-weight: bold;
                            font-size: 16px;
                            line-height: 19px;
                            letter-spacing: 0.14em;    
                            color: var(--white);                        
                            background-color: var(--blue);
                            text-transform: uppercase;
                            padding: 8px 17px;
                            border-radius: 8px 0 0 8px;
                            box-shadow: 0px 1px 1px rgba(10, 16, 34, 0.29);
                        }
                    }
                }

                .featured_banner {
                    height: 150px;
                    border-radius: 8px;                 
                }

                .banner_macbook {
                    background: url(/Assets/banner_macbook.png) center center no-repeat;
                    background-size: cover;
                }

                .banner_ipad {
                    background: url(/Assets/banner_ipad.png) center 10% no-repeat;
                    background-size: cover;
                }

                .banner_iphone {
                    background: url(/Assets/banner_iphone.png) center 26% no-repeat;
                    background-size: cover;
                }
            }
        }

        .policies {
            display: grid;
            grid-template-columns: auto;
            grid-gap: 15px;
            
            p {
                font-weight: 500;
                font-size: 16px;
                line-height: 19px;
                margin: 15px 0 0 5px;             
            }

            .policies_content {
                display: grid;
                grid-template-columns: auto;
                grid-gap: 15px;

                padding: 20px;
                background-color: var(--white);
                border-radius: 8px;
                margin-bottom: 40px;

                a {
                    display: block;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 16px;
                    color: var(--gray);                    
                }
            }
        }
    }

    @media only screen and (min-width: 768px) {
        .ecommerce {
            width: calc(100% - 50px);
            grid-gap: 20px;
            margin: 140px 25px 0;
            
            .content {
                grid-gap: 20px;
                
                .banners {
                    grid-template-columns: 1fr 1fr;
                    grid-gap: 20px;
    
                    .banner_main {
                        grid-column: 1/3;                                        
                        height: 300px;
                    }
    
                    .banner_sub {                                        
                        height: 150px;
                    }
                }

                .featured {
                    grid-gap: 20px;

                    .fade {
                        position: absolute;
                        height: 28px;
                        width: 40px;
                        right: 0px;
                        top: 15px;
                        background: linear-gradient(270deg, #F5F5F5 45.59%, rgba(245, 245, 245, 0) 100%);
                    }
    
                    .featured_cat {
                        margin: 5px 0 5px 5px; /*5px-2px bottom border*/                                  
    
                        a.cat {
                            margin-right: 30px;
                        }
    
                        a.sub {
                            margin-right: 25px;
                        }
                    }

                    .featured_products {
                        grid-template-columns: 1fr 1fr;
    
                        .product {
                            height: 100%;
                        }
                    }                        
                }
            }

            .policies {
                grid-gap: 15px;
                
                p {
                    margin: 5px 0 0 5px;             
                }
    
                .policies_content {
                    grid-template-columns: 1fr 1fr;
                    margin-bottom: 60px;
                    padding: 20px 0;
                    grid-column-gap: 20px;

                    a {
                        margin: 0 20px;                
                    }
                }
            }
        }
    }

    @media only screen and (min-width: 1024px) {
        .ecommerce {
            width: calc(100% - 30px);
            margin: 0 30px 0 0;
            grid-gap: 20px;

            grid-column: 2/3;
            grid-row: 2/3;

            .content {
                
                .banners {
                    grid-template-columns: 1fr 1fr 1fr;
                    grid-template-rows: 1fr 1fr;
                    grid-gap: 20px;
    
                    .banner_main {
                        grid-column: 1/3;                                        
                        grid-row: 1/3;
                        height: 320px;
                    }
                    
                }

                .featured {
                    .featured_products {
                        grid-template-columns: 1fr 1fr 1fr;

                        .product {
                            &:nth-child(4) {
                                display: none;
                            }
    
                            .thumb {
                                margin: 15px;
                                width: calc(100% - 30px);
                                padding-top: calc(100% - 30px);                                                                                  
                            }
    
                            .info {
                                margin: 0 18px 62px 18px;
    
                                h3 {
                                    font-size: 16px;
                                    line-height: 19px;                               
                                }
    
                                p.colour {
                                    margin-top: 14px;
                                    font-size: 14px;
                                    line-height: 16px;       
    
                                    span {
                                        width: 14px;
                                        height: 14px;
                                        margin: -2px 9px 0 0;
                                    }
                                }
    
                                p.price {
                                    margin-right: 91px;
                                    left: 18px;
                                    bottom: 18px;
                                    font-size: 16px;
                                    line-height: 19px;                            
                                }
                            }
    
                            .new {
                                bottom: 12px;
                                padding: 6px 14px;
                            }
                        }
                    }
                }
            }

            .policies {
                .policies_content {
                    grid-template-columns: 1fr 1fr 1fr;
                }
            }
        }
    }

    @media only screen and (min-width: 1440px) {
        .ecommerce {

            .content {
                
                .banners {
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                    grid-template-rows: 1fr 1fr;
                    grid-gap: 20px;
    
                    .banner_main {
                        grid-column: 1/4;                                        
                        grid-row: 1/3;
                        height: 400px;
                    }

                    .banner_sub {                                        
                        height: 190px;
                    }
                }

                .featured {
                    .fade {
                        display: none;
                    }

                    .featured_cat {
                        margin: 10px 0 10px 10px; 
                        white-space: normal;
                        overflow: hidden;
                                
                        a.cat {
                            margin-right: 37px;
                            font-size: 36px;
                            line-height: 42px;
                        }

                        a.sub {
                            padding-top: 18px;
                            margin-right: 40px;
                            font-size: 16px;
                            line-height: 19px;    
                        }
                    }
                    .featured_products {
                        grid-template-columns: 1fr 1fr 1fr 1fr;

                        .product {
                            &:nth-child(4) {
                                display: block;
                            }
    
                            .thumb {
                                margin: 20px;
                                width: calc(100% - 40px);
                                padding-top: calc(100% - 40px);                                                                                  
                            }
    
                            .info {
                                margin: 0 26px 77px 26px;
    
                                h3 {
                                    font-size: 18px;
                                    line-height: 21px;                               
                                }                                
    
                                p.price {
                                    margin-right: 96px;
                                    left: 26px;
                                    bottom: 26px;
                                    font-size: 18px;
                                    line-height: 21px;                            
                                }
                            }
    
                            .new {
                                bottom: 19px;
                                padding: 8px 17px;
                            }
                        }
                    }

                    .featured_banner {
                        height: 200px;
                    }
                }
            }

            .policies {
                .policies_content {
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                    margin-bottom: 80px;
                }
            }
        }
    }
    

    .footer {
        width: 100%;
        background-color: var(--primary);
        color: var(--white);

        .container {
            display: grid;
            grid-template-columns: auto;
            grid-gap: 25px;

            .logo {
                width: auto;
                height: 50px;
                background: url(../Assets/Logo_footer.svg) center center no-repeat;
                background-size: contain;
                margin: 40px 0 15px 0;                
            }

            div {
                margin: 0 30px;

                h3 {
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 16px;
                    margin-bottom: 12px;                    
                }

                p {
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 16px;
                    color: var(--gray);                    
                }
            }

            .copyright {
                margin: 15px 30px 30px 30px;
                text-align: center;
            }
        }
    }

    @media only screen and (min-width: 768px) {
        .footer {
            .container {
                grid-template-columns: 1fr 1fr;
                grid-gap: 30px;
    
                .logo {
                    grid-column: 1/3;
                    background: url(../Assets/Logo_footer.svg) 60px center no-repeat;
                    background-size: contain;
                    margin: 40px 0 10px 0;                
                }
    
                div {
                    margin: 0 45px;
                }

                .about {
                    grid-column: 1/3;
                }

                .address {
                    margin-right: 0;
                    grid-column: 1/2;
                    grid-row: 3/5;
                }

                .social {
                    margin-left: 10px;
                    grid-column: 2/3;
                }

                .qualified {
                    margin-left: 10px;
                }
    
                .copyright {
                    grid-column: 1/3;
                    margin: 10px 45px 30px 45px;
                    text-align: center;
                }
            }
        }
    }

    @media only screen and (min-width: 1024px) {
        .footer {
            .container {
                grid-template-columns: 229px 1fr 1fr 1fr;
                grid-gap: 20px;
    
                .logo {
                    grid-column: 1/2;
                    grid-row: 1/4;
                    background: url(../Assets/Logo_footer.svg) 60px center no-repeat;
                    background-size: contain;
                    margin: 40px 0 10px 0;                
                }
    
                div {
                    margin: 0;
                }

                .about {
                    grid-column: 2/5;
                    margin: 30px 40px 10px 20px;
                }

                .address {
                    margin: 0 20px 10px 20px;
                    grid-column: 2/3;
                    grid-row: 2/3;
                }

                .social {
                    margin: 0 20px 10px 20px;
                    grid-column: 3/4;
                }

                .qualified {
                    margin: 0 40px 10px 20px;
                }
    
                .copyright {
                    grid-column: 2/5;
                    margin: 0 40px 30px 20px;
                    text-align: left;
                }
            }
        }
    }

    @media only screen and (min-width: 1440px) {
        .footer {
            .container {
                grid-template-columns: 230px 1fr 1fr 1fr 1fr;
    
                .logo {
                    height: 60px;
                    grid-column: 1/2;
                    grid-row: 1/4;
                    background: url(../Assets/Logo_footer.svg) 62px center no-repeat;
                    margin: 45px 0 10px 0;                
                }

                .about {
                    grid-column: 2/4;
                    grid-row: 1/3;
                    margin: 40px 20px 0 20px;
                }

                .address {
                    margin: 40px 20px 0 20px;
                    grid-column: 4/5;
                    grid-row: 1/3;
                }

                .social {
                    margin: 40px 40px 0 20px;
                    grid-column: 5/6;
                    grid-row: 1/2;
                }

                .qualified {
                    margin: 0 40px 0 20px;
                    grid-column: 5/6;
                    grid-row: 2/3;
                }
    
                .copyright {
                    grid-column: 2/6;
                    margin: 0 40px 40px 20px;
                    text-align: left;
                }
            }
        }
    }
